# Bases de Pandas

Dans cette leçon, nous allons introduire quelques notions fondamentales supplémentaires de [Pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/overview.html), une puissante bibliothèque Python pour travailler avec des données tabulaires telles que des fichiers CSV.

Nous allons revoir les compétences apprises lors de la dernière leçon et introduire comment :

* Examiner largement les données
* Travailler avec des données manquantes
* Renommer, supprimer et ajouter de nouvelles colonnes
* Effectuer des calculs mathématiques
* Agréger des sous-ensembles de données

In [ ]:
import pandas as pd

In [ ]:
l = [{'date': '2022-02-12', 'prix': '220', 'devise':'euros'},
     {'date': '2022-02-13', 'prix': '10', 'devise':'euros'},
     {'date': '2022-02-16', 'prix': '30', 'devise':'euros'}]

## Lire des CSV

Les fichiers ``.csv`` (*comma separated values*) sont des fichiers tabulaires (des tableaux) où les valeurs sont séparées par les virgules (ou des points virgules en fonction). 

Dans l'idée c'est la version épurée d'un fichier excel. C'est le format de base de beaucoup de projet !

Pour lire un fichier ``.csv`` pandas utilise la méthode ``pd.read_csv()``

### Affiche

### Attributs

## Methodes de Pandas

| Méthode Pandas | Explication                                       |
|---------------|---------------------------------------------------|
| `.sum()`      | Somme des valeurs                                 |
| `.mean()`     | Moyenne des valeurs                               |
| `.median()`   | Médiane des valeurs                               |
| `.min()`      | Minimum                                           |
| `.max()`      | Maximum                                           |
| `.mode()`     | Mode                                              |
| `.std()`      | Écart-type non biaisé                             |
| `.count()`    | Nombre total de valeurs non vides                  |
| `.value_counts()` | Fréquence des valeurs uniques                    |
| `.groupby()`  | Division des données en groupes basés sur des critères spécifiques. Permet d'appliquer des opérations sur ces groupes. |
| `.sort_values()` | Trie les valeurs dans un DataFrame ou une Series. |
| `.describe()` | Génère des statistiques descriptives pour les données, comme la moyenne, l'écart-type et les quartiles. |

## + graphiques à partir de Pandas (semaine prochaine)

In [ ]:
df2.groupby('date')['doc_name'].count().plot(title='Nombre de Romans par an')

In [ ]:
df2[:1]

### Exercices !

x/ Afficher le dataframe du roman 'pauvre blaise'

x/ Afficher le dataframe de l'auteur 'romain gary'

x/ Afficher le dataframe des auteurs morts avant 1865

x/ Afficher le dataframe des autrices femmes qui sont canoniques 

x/ Afficher le dataframe des autrices femmes qui sont canoniques avant 1878